header h1,h2{
    text-align: center;

}
h2{
    font-size:larger;
    font-weight: lighter;
}
a.btn-ma{
    width: 400px;
    margin: 10px;
    height: 150px;
    border-radius: 30px;
    background-color: aquamarine;
    display: block;
    float: left;
}
a :hover{
    transform:scale(1.023) ;
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
main{
width: 1270px;
margin: auto;
}
header button{
    
    width: 150px;
    height: 35px;
    border-radius: 15px;
    position: absolute;
    right: 8px;
    top: 8px;
}

footer{
    text-align: center;
    width: 36%;
    margin: auto;
    clear: both;
}
h3{
font-size:larger;
font-weight: lighter;
}
footer button{
    width: 150px;
    height: 35px;
    border-radius: 15px;
}
.back img{
width: 30px;
height: 30px;
position: absolute;
left: 10px;
top: 10px;
}