body{
    text-align: center;
}
section {
    background-color: rgb(236, 227, 245);
    border: solid purple;
    overflow: inherit;
}
section p{
    float: left;
    width: 48%;
    margin: auto;
    
}
.img{
    margin-top:50px;
    width: 100%;
    
}
.nav a{
   padding: 0 70px;
   
}
.nav{
    border: solid olive;
}
.nav a:hover{
    background-color: rgb(190, 174, 205);
}
#Dessert{
    text-align: center;
}
